$black: #323232;
$white: #fff;
$teal: rgb(73, 111, 127);

$grey: rgba($teal, 0.05);

$primary: #e70074;
$secondary: #496f7f;
$pale-blue: rgba(239, 244, 245, 1);

$yellow: #f6c647;

// background colours

$bg--black: $black;
$bg--white: $white;
$bg--grey: $grey;
$bg--pale-blue: $pale-blue;
$bg--primary: $primary;
$bg--secondary: $secondary;
$bg--teal: $teal;

// text colours

$text--black: $black;
$text--white: $white;
$text--grey: rgba($black, 0.6);

$text--primary: $primary;
$text--secondary: $secondary;

$text--yellow: $yellow;

$text--error: #eb4d4b;
