$container-width--default: 1535px;
$container-width--wide: 100%;
$cotnainer-width--awkward: 1775px;

$search-form-width: 595px;
$search-form-width--open: 800px;

$modal-width: 720px;

$height--xl: 40px;
$height--md: 30px;

$width--xl: 40px;
$width--md: 30px;
